<!DOCTYPE html>
<html>
  <head>
    <title><%= @quote.speaker.name %>'s quote | Quotify.it </title>
    <link media="screen" type="text/css" href="../assets/Styles/960.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="../assets/Styles/reset.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="../assets/Styles/text.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="../assets/Styles/quote_mobile.css" rel="stylesheet" />
  </head>
  <body>
  
  <div id="container">
  <div id="top" class='major'>
    <div id="logo">
      <a href="/">
        <img src="../assets/Images/quote/qit.png" />
      </a>
    </div>
    <div id="quote">
      <div id="inner">
        <p id="text">
          <%= @quote.quote_text %>
        </p>
    </div>
    <img id="left_bub" src="../assets/Images/quote/quote/bubbles_left.png" />
    <img id="right_bub" src="../assets/Images/quote/quote/bubbles_right.png" />
    <div id="thumbnail">
      <% if @quote.quote_images.blank? %> 
        <img src="../assets/Images/quote/avatar.jpg" />
      <% else %>
        <%= image_tag "/quote_images/#{@quote.quote_images.first.file_name}" %>
      <% end %>
    </div>
    <div id="deets">
      <span id="speaker">
        <%= @quote.speaker.name %>
      </span>
      <% unless @quote.speaker.same_person_as(@quote.quotifier) %>
        with <span class="witness quotifier"><%= @quote.quotifier.name %></span>
      <% end %>
      <% @quote.witnesses.each do |witness| %> & <span class="witness"><%= "#{witness[:name]}" %></span> <% end %>
     <span id="time"><%= distance_of_time_in_words_to_now(@quote.quote_time) %> ago</span>
    </div>
  </div>


  </div>



  <div id="comments" class='major'>

  <form id="submitcomment" action="../../../../quotes/<%=@quote.id%>/comments" method="post" >
    <input type="hidden" name="comment[commenter_name]" value="<%=@quote.accessing_user_obj ?  @quote.accessing_user_obj.name : 'Anonymous' %>" />
    <input type="hidden" name="comment[user_id]" value="<%=@quote.accessing_user_obj ?  @quote.accessing_user_obj.id : nil %>" />
    <input type="text" name="comment[comment_text]" placeholder="Type your comment here.." />
    <input type="submit" name="submit" value="comment" />
  </form>

  <ul>
    <% if @quote.comments.length == 0 %>
    <li class="nocomments">
        No comments yet.  Add yours above!
    </li>
    <% end %>
    <% @quote.comments.each_with_index do | comment,i | %>
    <li class="<%= i % 2 == 1 ? 'even' : 'odd' %>">
        <span class="name">
          <%= comment.commenter_name %>
        </span>
        <span class="date">
          <%= distance_of_time_in_words_to_now(comment.created_at) %> ago
        </span>
        <p class="quote">
          <%= comment.comment_text %>
        </p>
    </li>
    <% end %>
  </ul>

  </div>

  
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22784176-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
  <!- End Google Analytics -> 
  

  <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==
typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("10db5716f34ad4fa4aead789301c232b");</script><!-- end Mixpanel -->
  
<script type="text/javascript">
    mixpanel.track("Mobile Quotes Page Pageview");
</script>
</div>
  </body>

</html>
