<!DOCTYPE html>
<html>
<head>
  <title><%= @quote.speaker.name %>'s quote | Quotify.it </title>
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/960.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/quote.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/reset.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/text.css" rel="stylesheet" />
</head>
<body class='style1'>

  <div id="quote">
    <%= @quote.quote_text %>
  </div>

  <div id="thumbnail">
    <% if @quote.quote_images.blank? %> 
      rob is a poop
    <% else %>
      <%= image_tag "/quote_images/#{@quote.quote_images.first.file_name}" %>
    <% end %>
  </div>

  <div id="deets">
    <span id="speaker">
      <%= @quote.speaker.name %>
    </span>
    <span class="witness quotifier">
      <%= @quote.quotifier.name %>
    </span>
    <% @quote.witnesses.each do |witness| %> 
       <span class="witness">
          <%= "#{witness[:name]} (#{witness[:email]},#{witness[:phone]})" %>
       </span>
    <% end %>
    <span id="time"<%= @quote.quote_time %></span>
  </div>




