<!DOCTYPE html>
<html>
<head>
  <title>Quotify</title>
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/960.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/quote.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/reset.css" rel="stylesheet" />
    <link media="screen" type="text/css" href="http://quotify.it/Assets/Styles/text.css" rel="stylesheet" />
</head>
<body class='style1'>

<p id="notice"><%= notice %></p>

<p>
  <b>Quote text:</b>
  <%= @quote.quote_text %>
</p>

<p>
  <b>Quote time:</b>
  <%= @quote.quote_time %>
</p>

<p>
  <b>Quote speaker:</b>
  <%= @quote.speaker.name %>
</p>

<p>
  <b>Quote quotifier</b>
  <%= @quote.quotifier.name %>
</p>

<p>
  <b>Quote witnesses</b><br/>
  <% @quote.witnesses.each do |witness| %> 
    <%= "#{witness[:name]} (#{witness[:email]},#{witness[:phone]})" %><br/>
  <% end %>

<p>
<b>Quote Image</b><br/>
<% if @quote.quote_images.blank? %> 
  rob is a poop
<% else %>
  <%= image_tag "/quote_images/#{@quote.quote_images.first.file_name}" %>

<% end %>
</p>



