<!DOCTYPE html>
<html>
  <body style="background-color:#f9f9f9; text-align: center; padding-top: 20px; ">
	<div style="width:700px; background-color: white; margin: 10px auto; text-align: left; padding: 20px 10px 10px 0px; height: 500px;" >
		<a style='float:left; margin: -10px 10px 20px; padding: 10px 0px;' href="http://quotify.it/<%=@personalized_quote_id%>">
			<img src="http://quotify.it/assets/Images/emails/qit.png" />
		</a>
		<br style="clear:both" />
	  	<table >
	  	<tr>
	  		<td>
	  		</td>
	  		<td  style="padding: 10px 0px 0px; font-family:'Providence';" valign='bottom'>
	  			<% case @role %>

	  			<% when :quotifier %>
		  			<h3 style="color:#4a4a4a; font-size:24px; font-weight:normal; "> Everyone's talking about <%=@comment.quote.speaker.name%>'s <span style="color:#7fa6b7;">quote</span>.</h3>
				    <p style=" font-size:18px;"><%=@comment.commenter_name%> has commented on <%=@comment.quote.speaker.name%>'s Quote. <a style="color:#7fa6b7; " href="http://quotify.it/<%=@personalized_quote_id%>"> See what they said, here.</a>

				  <% when :speaker %>
				 		<h3 style="color:#4a4a4a; font-size:24px; font-weight:normal; "> Everyone's talking about <span style="color:#7fa6b7;">your quote</span>.</h3>
				    <p style=" font-size:18px;"><%=@comment.commenter_name%> has commented on your Quote.  <a style="color:#7fa6b7; " href="http://quotify.it/<%=@personalized_quote_id%>">See what they said, here.</a>

				  <% when :witness %>
				 		<h3 style="color:#4a4a4a; font-size:24px; font-weight:normal; "> Everyone's talking about <%=@comment.quote.speaker.name%>'s <span style="color:#7fa6b7;">quote</span>.</h3>
				    <p style=" font-size:18px;"><%=@comment.commenter_name%> has commented on <%=@comment.quote.speaker.name%>'s Quote. <a style="color:#7fa6b7; " href="http://quotify.it/<%=@personalized_quote_id%>"> See what they said, here.</a>
				  <% end %>
					</p>
	  		</td>
	  	</tr>
	  	<tr>
	  		<td colspan=2>
	  	<div style="text-align:left; width:100%; margin-top: 50px;">
  			<a href="http://quotify.it/<%=@personalized_quote_id%>">
	  			<img src="http://quotify.it/assets/Images/emails/checkitout.png"/>
	  		</a>
	  	</div>
	  		</td>
	  	</tr>
	  	</table>


	  </div>
  	<p style="padding: 10px 0px; font-family:'Providence'; font-size: 10px; width:700px;  margin: 0px auto; text-align: left;">
  		You are receiving this email because <%= @comment.quote.quotifier.name %> tagged you in a quote.  We won't do it again unless they tag you again, but, you can <i> unsubscribe </i> below.
  	</p>
  </body>
</html>
