<%= form_for(@quote, :url => (@quote.new_record? ? quotes_url : admin_quote_url(@quote))) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote_text %><br />
    <%= f.text_field :quote_text %>
  </div>

  <div class="field">
    <%= f.label "Schedule Time In Past?" %>
    <%= check_box_tag 'schedule_in_past_flag' %>
  </div>

  <div class="field">
    <%= f.label "Messages Sent?" %>
    <%= f.check_box :messages_sent_flag %>
  </div>

  <div class="field">
    <%= f.fields_for :speaker, @quote.speaker do |s| %>
      <%= s.label "Speaker Name, Email, and Phone" %><br />
      <!--  <%= f.collection_select(:speaker_user_id, User.all, :id, :name) %>-->
      <%= s.text_field :name %>
      <%= s.text_field :email %>
      <%= s.text_field :phone %>
    <% end %>
  </div>
  <div class="field">
    <%= f.fields_for :quotifier, @quote.quotifier do |q| %>
      <%= q.label "Quotifier Name, Email, and Phone" %><br/>
      <!--  <%= f.collection_select(:quotifier_user_id, User.all, :id, :name) %>-->
      <%= q.text_field :name %>
      <%= q.text_field :email %>
      <%= q.text_field :phone %>
    <% end %>
   
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
