<h1>Listing quotes</h1>

<table style="border='1px'">
  <tr>
    <th>ID</th>
    <th>Link</th>
    <th>Quote text</th>
    <th>Quote time</th>
    <th>Images</th>
    <th>Speaker</th>
    <th>Quotifier</th>
    <th>Error?</th>
    <th>Deleted</th>
    <th>Send Messages Now<th>
    <th>Edit</th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.id %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= quote.quote_text %></td>
    <td><%= quote.quote_time %></td>
    <td><%= link_to quote.quote_images.count, admin_quote_quote_images_path(quote) %></td>
    <td><%= "#{quote.speaker.name} (#{quote.speaker.email},#{quote.speaker.phone})" %></td>
    <td><%= "#{quote.quotifier.name} (#{quote.quotifier.email},#{quote.quotifier.phone})" %></td>
    <td><%= quote.error_flag %> </td>
    <td><%= quote.deleted %> </td>
    <td><%= link_to 'Send Messages Now', admin_quote_send_messages_now_path(quote) %></td>
    <td><%= link_to 'Edit', edit_admin_quote_path(quote) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_admin_quote_path %>
