<h1>Listing quotes</h1>

<table style="border='1px'">
  <tr>
    <th>ID</th>
    <th>Quote text</th>
    <th>Quote time</th>
    <th>Images</th>
    <th>Speaker</th>
    <th>Quotifier</th>
    <th>Witnesses</th>
    <th>Location</th>
    <th>Coordinates</th>
    <th>Email Scheduled Time</th>
    <th>Email Sent?</th>
    <th>Send Mail Now<th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.id %></td>
    <td><%= quote.quote_text %></td>
    <td><%= quote.quote_time %></td>
    <td><%= link_to quote.quote_images.count, admin_quote_quote_images_path(quote) %></td>
    <td><%= "#{quote.speaker.name} (#{quote.speaker.email},#{quote.speaker.phone})" %></td>
    <td><%= "#{quote.quotifier.name} (#{quote.quotifier.email},#{quote.quotifier.phone})" %></td>
    <td><%= quote.witnesses.inject("") {|memo, cur| "#{memo}; #{cur[:name]} (#{cur[:email]},#{cur[:phone]})" } [2..5000] %>
    <td><%= quote.location %></td>
    <td><%= quote.coordinate %></td>
    <td><%= quote.email_send_scheduled_time %></td>
    <td><%= quote.email_sent_flag %> </td>
    <td><%= link_to 'Send Email Now', admin_quote_send_email_now_path(quote) %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_admin_quote_path(quote) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_admin_quote_path %>
